# Assignment A3.1

Import cleaned data set from previous notebook

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
%matplotlib inline

In [4]:
sns.set()

In [ ]:
data = pd.read_csv('data/cleaned_full_set.csv')

In [6]:
data.head()

,Unnamed: 0,amount_borrowed,term,borrower_rate,installment,grade,listing_title,late_fees_paid,debt_sale_proceeds_received,loan_status_description,status_binary,status_simplified
0,0,27050.0,36,0.1099,885.46,B,debt_consolidation,0.0,0.0,COMPLETED,1,good
1,1,4800.0,36,0.1099,157.13,B,home_improvement,0.0,0.0,COMPLETED,1,good
2,2,12000.0,36,0.0762,373.94,A,debt_consolidation,0.0,0.0,COMPLETED,1,good
3,3,12000.0,36,0.1199,398.52,B,debt_consolidation,0.0,0.0,COMPLETED,1,good
4,4,12000.0,36,0.0662,368.45,A,debt_consolidation,0.0,0.0,COMPLETED,1,good

 and sample it

### Some graphical exploration

Go wild